body{
    margin: 0;
    background-color: #fff;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none
    
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    max-width: 1400px; 
    padding: 0 20px;
    margin: 0 auto; 
    
}

.header-main{
    max-width: 1220px; 
}

.header,.header__nav{
    display: flex;
    align-items: center;
}

.header {
    padding: 49px 0px 36px;
    font-family: Open Sans;
}

fieldset{
    border: none;
}

.header__nav{
     width: 100%;
    justify-content: space-around ;
}

.header__nav-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-left: 60px;
}
.header__nav-list-item{
    font-size: 14px;
}

.header__nav-list-item:not(:last-child){
    margin-right: 20px ;
}

.header__additional-list{
    width: 183px;
    display: flex;
    align-items: center;
    line-height: 21px;
    
    

}
.header__additional-list-item:not(:last-child){
    margin-right: 14px;
}

.header__nav-list-item{
    font-weight: 400;
    
     
}

.header__nav-list-item > a {
    color: rgba(30, 6, 6, 1);
}

.header__nav-list-item > a:hover {
    color:  rgba(30, 6, 6, 0.3);
}

.header__nav-list-item:active {
    color: rgba(30, 6, 6, 0.1);
} 

.header__additional-list-item{
    font-weight: 700;
}

.header__additional-link{
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.header__additional-link {
    color: rgba(30, 6, 6, 1);
}
.header__additional-link:hover {
    color:  rgba(30, 6, 6, 0.3);
}

.header__additional-link:active {
    color: rgba(30, 6, 6, 0.1);
}

.header__search{
    display: flex;
    padding-top: 3px;
    margin: 0;
}

.header__additional-search{
    border: none;
    background: url(../images/lupa.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 6px;
    
}
.crumbs__list{
    display: flex;
    padding: 0px ;
    margin: 0 auto;
    font-family:Crimson Text ;
    font-size: 20px;
    color: black;
    max-width: 1220px;

}

.crumbs__list-iten{
    margin-right: 35px;
    font-family:Crimson Text ;
    font-size: 20px;
    color: black;
}
.crumbs__link{
    color: black;

}

.crumbs__link:hover {
    opacity: .5;
    transition: .4s
}

.crumbs__list-iten:not(:last-child)::after{
    content: url(../images/crumds.png);
    left: 27%;
    position: relative;
}

.svg-crumds{
    margin: 7px 20px;
}

.crumbs__current{
    opacity: .5;
}
.footer__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1220px;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
    line-height: 22px;
   
}

.footer{
    background-color:rgba(67, 67, 67, 1);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer__block{
    display: flex;
    max-width: 420px;
    justify-content: space-between;
    padding: 99px 0 13px;
    
}

.footer__list{
    padding: 0;
    margin: 0;
    
}

.footer__nav{
    width: 100%;
    max-width: 377px;
    margin-right: 22px;
    
}

.footer__title{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    color: #aaa;
    margin: 0;
    padding: 0;
    
    
}
.footer__title::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 380px;
    margin-right: 10px;
    height: 1px;
    margin-top: 23px;
    margin-bottom: 28px;
    background-color: #666;
    border: none;
}

.footer__link{
    display: inline-block;
    margin-bottom: 16px;
    width: 483px;
    margin-top: 10px;
    line-height: 11px;
    color: #fff;
    transition: .4s;
}

.footer__link:hover {
    opacity: .2
}

.footer__link:active {
    opacity: .1
}

.pages{
    display: flex;
    padding-bottom: 58px;
    padding-top:12px ;
    align-items: center;
}

.arrow__back{
    transform: rotate(-180deg);
}
.footer-email{
    width: 380px;
    display: flex;
}

.footer__email__input{
    width: 100%;
    padding: 0 19px;
    color: #fff;
    background-color: #666;
    outline: 0;
    border: 1px solid transparent;
    transition: .4s;
}

button{
    display: block;
    padding: 9px;
    font-weight: 700;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    background-color: #000;
    border: none;
    cursor: pointer;
    transition: background-color .4s
}

button:hover {
    background-color: #c29974;
}

button:active {
    background-color: #c2a68e
}

.footer-email__btn{
    width: 90px;
}

.messenger__list{
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding: 25px 0 0;
    margin: 0;
}
.messenger__list-item:hover {
    transition: .4s;
    opacity: .5
}

.messenger__list-item:active {
    transition: .4s;
    opacity: .2
}

.pages__list{
    display: flex;
    width: 234px;
    margin: auto;
    padding-left: 0;
    justify-content: space-between;
    font-family: Montserrat,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1E0606
}

.pages__link{
    color: #1E0606;
    transition: .4s;
}
.pages__link:hover {
    opacity: .2
}

.pages__link:active {
    opacity: .1
}

.pages__link_active {
    color: #c29974;
}

.arrow__back{
    fill: #e4e1e1;
}

.arrow__next{
    fill: #e4e1e1;
}

.arrow__back:hover,.arrow__next:hover {
    transition: .4s;
    fill: #c29974
}

.footer__additional::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: #666;
    border: none
}

.footer__additional {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 100px;
    max-width: 1180px;
}



.footer-email__btn{
    color: #fff;
    transition: background-color .4s;
}
.copyr,.ratings,.web-design {
    display: flex;
    width: 100%;
    max-width: 375px;
    padding-top: 7px;
}

.ratings {
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 245px;
    float: left;
}

.hidden {
    position: absolute!important;
    width: 1px!important;
    overflow: hidden
}



.ratings>label {
    margin-left: 5px;
    cursor: pointer;
    margin-top: 5px;
    fill: #fff
}

.ratings>input:checked~label,.ratings >input:hover~label {
    fill: #836e5b;
    cursor: pointer
}

.ratings>input:checked~label {
    fill: #c29974
}

.ratings input:checked~p,.ratings label:hover~p {
    color: #c29974;
    transition: .4s
}

.ratings__title {
    margin-right: 12px
}

.copyr {
    color: #fff
}

.web-design {
    color: #aaa
}