.contact{

}



.contact__title{
    font-family: Montserrat ;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 17px;
    line-height: 49px ;
    word-spacing: 10px;
    
}

.contact__list{
    display: flex;
    padding: 0px ;

}

.contact__list_iten{
    margin-right: 11px;
}
.contact__link{
    font-family:Crimson Text ;
    font-size: 20px;
    color: black;

}

.contact__list::after{
    content: '>';
}

.contact__window{
    display: flex;
    padding-top: 50px;
    padding-bottom: 61px
    
}

.contact-frame{
    width: 100%;
    max-width: 680px;
}

.contact__form{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #E5EAF8;
    padding: 40px;
    border: none;
   
}

.contact__input{
    padding: 17px 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,.2);
    transition: box-shadow .4s;
    font-family: Open Sans ;
}

.contact__label{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    font-family: open sans;
    font-size: 14px;
}

.contact__user{
    display: flex;
    justify-content: space-between;

}

.contact__two-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 290px;
    margin-right: 3%;
}

.contact__two-input:last-child{
    margin-right: 0;
}

textarea{
    margin-bottom: 21px;
    width: 592px;
    height: 140px;
    resize: none;
    border: 1px solid rgba(0,0,0,.2);
    
}

.contact-fieldset{
    padding: 0;
    margin: 0 0 14px;
}

.contact__click{
    display: inline-block;
    min-width: 15px;
    height: 15px;
    border: 2px solid #C29974;
    border-radius:3px ;
}

.contact__input-approval:checked+.contact__click::before {
    content: url(/pages/images/click.png);
    margin: auto;
    width: 14px;
    height: 14px
}

.contact-fieldset__text{
    margin-left: 15px;
}

.contact__input-approval:focus+.contact__click,.contact__input-approval:hover+.contact__click {
    border: 2px solid #8d715a
}

.contact__btn{
    color: white;
    width: 88px;
}

.contact__text{
    font-family: Open Sans ;
    font-size: 16px;
    font-weight: 400;  
}

.contact__manual{
    padding-left: 10%;
    width: 100%;
    max-width: 500px;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 3%;
}

.contact__text{
    margin: 0;
    padding-bottom: 20px ;
}

.contact__manual-link{
    font-family: Montserrat,Arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #c29974;
    
}