

.banner{
    margin-top: 123px;
    flex-direction: column;
    background-color: rgba(238, 228, 219, 1) ;
    position: relative;
}

.banner__slider{
    display: flex;
    flex-direction: column;
    margin-left: 31px;
    margin-top: 11px;
    margin: 0, 0, 0, ;
    
    
}

.slider__title{
    font-family: Montserrat;
    font-size: 60px;
    color: rgba(30, 6, 6, 0.05);
    margin: 0 0 17px;
    padding: 20px 0;
    height: 33px;
    margin-left: -4px
    
}

.slider__btn{
    width: 31px;
    margin-top: 11px;
    padding-top: 3px;
    padding-bottom: 1px;
    cursor: pointer;
    border: none;
    
    
}


.banner__title{
    display: flex;
    position: relative;
    left: 25px;
    top: -57px;
    display: flex;
    flex-direction: column;
    width: 307px;
    margin-left: 108px;
 
}

.banner__text{
    margin: 0;
    font-family:Montserrat ;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;

}

.banner__desc{
    font-family: Crimson Text ;
    font-size: 20px;
    letter-spacing: 0.1px;
    margin-top: 19px;
}

.banner__btn{
    display: inline-block;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    font-family: Open Sans;
    font-weight: 700;
    padding: 11px;
    width: 160px ;
    margin-top: 1px ;
    
}

.banner_img{
    display: flex;
    width: 640px;
    height: 462px ;
    position: absolute;
    top: -90px;
    right: 98px;
}

.banner__footer{
    display: flex; 
    align-items: center;  
    flex-direction: column;
    background-color: rgba(194, 153, 116, 1);
    color: white;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 12px ;
    margin-top: 31px;
    margin-left: -1px;


 
}

.products{
    display:flex;
    flex-direction: column;
    margin-top: 60px;

    
}

.products__title{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 38px;

}

.products__list{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -15px;
    flex-wrap: nowrap;
    padding-left: 20px;
    padding-right: 0;
    

}

.products__list-item{
    margin-right: 20px;

    

    
    
}

.products__link{
    display: inline-flex;
    align-items: center;
    height: 269px;
    width: 279px;
    background-color:rgba(219, 228, 219, 1) ;
    background-image: url(../images/products_three.png);
    background-repeat: no-repeat;
    background-position: center;
    
    
    

}

.products__link-title{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 26px ;
    text-align: center ;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    width: 190px;
    
}

.products__slider{
    padding-top: 2px;
    display: flex;
}

.products__btn{
    margin: 0 6px 0 0;
    width: 37px;
    height: 37px;
    background-color: rgba(112, 187, 220, 0.2);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.products__desc{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 580px;
    padding-left: 13px;
    line-height: 20px;
}

.service{
    display: flex;
    padding-top: 91px;
    padding-bottom: 75px;

}

.service__img{
    width: 480px;
    height: 559px;
}

.service__block{
    margin-left: 18px ;
    margin-top: 32px;
    




}

.service__title{
    font-family:Montserrat ;
    font-size: 38px;
    font-weight: 700;
    margin: 0 auto;
    padding-left: 102px;
    padding-bottom: px;


}

.service__list{
    margin-top: 7px;
    margin-left: -5px;

}

.service__list-item{
    
    padding-left: 5px;
    margin-top: px;

}

.service__btn{
    display: flex;
    font-family: Crimson Text;
    font-size: 26px;
    font-weight: 700;
    background-color:rgba(112, 187, 220, 0.2);
    border: none;
    padding: 13px 180px ;
    padding-left: 60px;
    cursor: pointer;

}

.service__text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-left: 102px;
    padding-top: 3px;
    line-height: 21px;
    width: 480px ;
}

.service__link{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color:black;
    color: white;
    padding: 11px ;
    margin: 27px 100px;
    width: 127px;
    text-align: center;
    
}

.sponsor__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-bottom: 95px;
}

.Info{
    display: flex;
    padding-bottom: 81px;


}

.Info__design{
    display: block;
    width: 100%;
    max-width: 487px;
    margin-bottom: 75px ;
    padding: 0 27px;
    margin-right: 57px;
    background-color: rgba(225, 240, 247, 1);

}

.design__title{
    font-family: Montserrat ;
    font-size: 38px;
    font-weight: 700;
    margin: -25px 0;
    padding: 0 ;

}

.design__subtitle{
    font-family: Crimson Text;
    font-size: 26px;
    font-weight: 400;
    padding-top: 12px;
}

.design__text{
    font-family: 'Open Sans', sans-serif;
    size: 16px;
    width: 483px;
    line-height: 22px;
    margin: -15px;
    padding-left: 17px;
    padding-bottom: 37px;
}
.design__btn{
    border: none;
    background-color: black;
    color: white;
    font-family:'Open Sans', sans-serif; ;
    font-weight: 700;
    font-size: 16px;
    padding: 11px 23px;
    margin-bottom: 25px;

}

.Info__contacts{
    display: block;
    width: 481px;
    background-color: rgba(225, 240, 247, 1);
    margin-bottom: 93px ;
    padding: 0 31px;
    

    
}

.contacts__title{
    font-family: Montserrat ;
    font-size: 38px;
    font-weight: 700;
    margin: -25px 0;
    
}

.contacts__text{
    font-family: 'Open Sans', sans-serif;
    size: 16px;
    width: 483px;
    line-height: 22px;
    margin: -18px;
    padding-left: 17px;
    padding-top: 47px;
}

.contacts__maps{
    display: flex;
    position: absolute;
    top: -90px;
    right: 98px;
}